sandbox.py
SomeClass.py
animation.py
Test_Density.py


# temp files\ compliled 
*~
*.pyc
README~
Makefile~
.gitignore~
#.project
#.pydevproject



# Graphic stuff
Data/
Movie2DSurfaceFrames/
Movie2DContourFrames/
Movie1DFrames
Movie*
Optimi*
graphics/
*.png
*.mpg

# A script that deletes history from git
script

