sandbox.py
SomeClass.py
animation.py
Test_Density.py


# temp files\ compliled 
*~
*.pyc

# Graphic stuff
Data/
Movie2DSurfaceFrames/
Movie2DContourFrames/
Movie1DFrames
Movie*
Optimi*
graphics/
*.png
*.mpg
